// ==========================================================================
// OBJECTS | Footer
// ==========================================================================

.footer { 
  &__inner {
    padding: $base-spacing;
    background-color: $white-900;
    border-top: solid 5px $grey-400;
    text-align: center;
    font-size: $base-font-size;
  }
}
