// ==========================================================================
// SETTINGS | Variables > Color
// ==========================================================================

$black-400: #444;

$grey-200: #dae2ea;  
$grey-400: #ddd;
$grey-600: #999;

$white-800: #f8f8f8;
$white-900: #fff;
$white: #fff;

$main-color: #3f648a;
$main-color-dark: darken($main-color, 20%);
$main-color-light: lighten($main-color, 20%);

$background-color: #f1f1f1;
$border-color: #e5e5e5;

$base-spacing: 20px;
$base-font-size: 12px;

// ==========================================================================
// SETTINGS | Screen sizes
// ==========================================================================

$mobile:          320px;
$tablet:          768px;
$tablet-desktop:  1024px;
$desktop:         1280px;
$desktop-xl:      1440px;

// ==========================================================================
// SETTINGS | Fonts
// ==========================================================================